*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #313a3f;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    max-width: 750px;
    max-height: 450px;
    background: #40694c;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    font-size: x-large;
}
.title{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
    padding-bottom: 5px;
    padding-top: 0px;
}
.temp-icon{
    font-size: 40px;
}
h1{
    color: black;
}
#cal-temp{
    max-height: 290px;
    padding: 30px 60px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 3px, rgba(0, 0, 0, 0.30) 0px 1px 2px;
}
label{
    font-size: 30px;
    width: 200px;
    justify-content: center;
    align-items: center;
    line-height: 10px;
}
#temp{
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 25px;
    border-radius: 10px;
    margin: 30px;
    padding: 8px;
    font-size: 18px;
    margin-top: 50px;
}
#diff {
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 25px;
    border-radius: 10px;
    margin: 20px;
    font-size: 15px;
}
#submit{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    margin: 30px 0 20px 0;
    font-size: 18px;
    background-color: rgb(218 229 220);
    padding: 2px;
    margin-left: 170px;
    margin-top: 0px;
    transition: all 0.5s ease;
    border-radius: 10px;
}
#submit:hover{
    background-color:burlywood;
    cursor: pointer;
}
#result,#resultNew{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: 150px;
}