@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Mono:wght@100&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Mono:wght@100&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Mono:wght@100&family=Sigmar&family=Source+Code+Pro:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(228, 226, 226);
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
}
.sidebar nav{
    padding: 40px;
    height: 100vh;
    position:fixed;
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
    font-style: bold;
}
.main{
    /* background-color: rgb(233, 227, 227); */
    width: 90vw;
}
.container{
    display: flex;
}
.info{
    /* background-color: rgb(65, 67, 179); */
    height: 60vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.userpic{
    width: 250px;
    padding-top: 40px;
}
#image{
    box-sizing: border-box;
    border-radius: 50%;
    border-color: black;
}
.userinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', monospace, sans-serif;
}
.hello{
    font-size: 70px;
}
.name{
    font-size: 55px;
    font-weight: bold;
    font-family: 'Roboto', monospace, sans-serif;
}
.about{
    font-size: 40px;
}
.btn{
    margin-top: 10px;
    width: fit-content;
    padding: 0.8rem 2.3rem;
    background-color: rgb(189, 92, 92);
    color: aliceblue;
    font-size: 18px;
    position: relative;
    z-index: 1;
}
.btn>a{
    text-decoration: none;
    color:aliceblue;
}

.btn::before {
    content: "";
    background-color: #1f1f1f;
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: all 1s;
}

.btn:hover::before {
    transform: scaleX(1);
    cursor: pointer;
    box-shadow: 5px 5px 10px 0px rgb(135, 127, 143);
}
.btn:hover{
    cursor: pointer;
}
.more{
    font-size: 20px;
}
.sidebar nav li a{
    text-decoration: none;
}
.contactform{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 50px;
    padding-top: 50px;
    margin-left: 50px;
}
.contactform h1{
    font-family: 'Source Code Pro', sans-serif, monospace;
    padding: 15px 0;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 30vw;
    border-radius: 5px;
    margin: 6px 0 0 0 ;
    padding: 3px;
}
#emailHelp{
    font-size: 12px;
    color: blue;
    margin: 0 1px;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 25px;
    margin: 3px 0;
}
.skills-container{
    display: flex;
    position: relative;
    padding: 5rem;
    margin: 7rem auto;
    gap: 30px;
    padding-top: 0.005px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
}

.skill-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.skill-container-right{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.skill-fade-text{
    user-select: none;
    overflow-x: hidden;
    font-size: 15em;
    font-style: bold;
    bottom: -34.5%;
    right: -25%;
    color: rgb(220, 148, 148);
    position: absolute;
}

.blob-style{
    position: absolute;
    z-index: -1;

    animation: blob 2s linear infinite;
}

@keyframes blob {
    50%{
        transform: translateX(20px) translateY(-20px);
    }
}

.skills-logo
{
    z-index: 1;
    width: 90px;
    transition: all 0.5s;
}

.skills-logo:hover{
    transform: scale(1.1);
    
}

.skill-heading{
    font-size: 50px;
    font-style: bold;
    color: var(--bgOrange);
    line-height: 50px;
}
.caps{
    font-size: 90px;
}

.skill-subHeading{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}

.skill-subHeading p{
    margin-top: 20px;
}

@keyframes scaleImage {
    0% {
        transform: scale(1);
        filter: grayscale(.3);
        box-shadow: 3px 3px 10px 0 #1f1f1f;
    }

    25% {
        transform: scale(1.05);
        filter: grayscale(1);
        box-shadow: none;
    }

    75% {
        transform: scale(0.95);
        filter: grayscale(0);
        box-shadow: 5px 5px 10px 0 #1f1f1f;

    }

    100% {
        transform: scale(1);
        filter: grayscale(.3);
        box-shadow: 3px 3px 10px 0 #1f1f1f;

    }
}

.icons {
    position: absolute;
    z-index: 1;
}

.icon-dots {
    bottom: -1rem;
    right: 0;

    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes dotsAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1.6rem);
    }

    100% {
        transform: translateY(0);
    }
}

.icon-cube {
    top: -0.8em;
    right: 1em;
    animation-name: cubeAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cubeAnimation {
    0% {
        transform: rotateY(0) translateY(0);
    }

    50% {
        transform: rotateY(180deg) translateY(-12px);
    }

    100% {
        transform: rotateY(360deg) translateY(0);
    }
}

.icon-circle {
    bottom: 0;
    left: 0;
    animation-name: circleAnimation;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-timing-function: linear;

}

@keyframes circleAnimation {
    50% {
        bottom: 10%;
        left: 5%;
    }
}

.icon-zigzag {
    z-index: 9;
    top: 1.5em;
    left: -0.3em;
    animation: zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation {
    50% {
        left: 5%;
        top: 2%;
    }
}

.icon-plus {
    z-index: 9;
    top: -0.8rem;
    left: 50%;
    animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
    50% {
        top: 3%;
        left: 48%
    }
}

.project-section{
    /* background-color: rgb(233, 227, 227); */
    margin-top: 4rem;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-header{
    font-size: 70px;
    padding-top: 10px;
    text-align: center;
}

.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 120px;
}



.project-card{
    width: 90%;
    height: 550px;
    background-image: url(./stack/project1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 0 40px #1f1f1f;
}

.project-card::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #1f1f1f9a;
}

.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.project-card:hover::before{
    transform: scaleX(1);
}

.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: rgb(184, 199, 211);
    display: none;
}

.project-card:hover .project-number{
    display: block;
    z-index: 5;
    transition: all 0.4s;
}

.project-number-right{
    right: -40px;
    top: -45px;
}

.project-number-left{
    left: -40px;
    top: -45px;
}

.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;

    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1m;
    transition: all 0.4s;
}

.project-content-left{
    left: 30%;
}

.project-content-right{
    right: 20%;
}

.project-card:hover .project-content{
    transform: scale(1.05);
    transition: all 0.4s;
}

.prject-skills-container{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-skill{
    width: 40px;
}
.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-sub-heading{
    width: 70%;
    font-style: italic;
    font-size: 16px;
}

.btn-grp{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.icon{
    cursor: pointer;
    color: white;
    font-size: 25px;
}

.icon:hover{
    color: var(--bgOrange);
    transition: all 0.4s;
}

#project1{
    background: url(./stack/project1.png);
}
#project2{
    margin-left: 120px;
    background: url(./stack/project2.png);
}
#project3{
    background: url(./stack/project3.png);
}
#project4{
    margin-left: 120px;
    background: url(./stack/project4.png);
}
.sidebarGo{
    transform: translate(-130px, 10px);
    position: absolute;
}
@media (max-width: 780px){
    *{
        background-color: rgb(233, 227, 227);
    }
    .sidebar{
        transform: translate(-182px, 10px);
    }
    .userpic{
        display: none;
    }
}
.hamburger{
    position: fixed;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.ham{
    margin-top: 10px;
}
.cross{
    margin-left: 140px;
    margin-top: 10px;
}
.footer{
    position: relative;
    margin-top: -1px;
    padding: 5rem;
    background-color:white;
    display: flex;
    flex-direction: column;
}

.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-evenly;
    align-items: center;
}

.footer-faded-text{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #c3c3c6;
    user-select: none;
    font-size: 5rem;

}

.link-wrapper{
    display: flex;
    gap: 1.2rem;
}

.link-wrapper div a{
    color: black;
    text-decoration: none;
    transition: all 0.5s;
}

.link-wrapper div a:hover{
    color: var(--bgOrange);
}

.icon-wrapper{
    display: flex;
    gap: 1rem;
}